<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>e-commerce</title>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <!-- need import that websocket cdn -->
  <script defer src="script.js"></script>
  <style> td { text-align: center; } </style>
</head>

<body>
  Your confirmed orders are: <br>
  <table border>
    <tr>
      <th>fan</th>
      <th>cup</th>
      <th>tape</th>
    </tr> 
    <tr>
      <td> <%= item1 %> </td>
      <td> <%= item2 %> </td>
      <td> <%= item3 %> </td>
    </tr> 

    <tr> <td colspan="3">Total cost: $<%= total_cost %> </td> </tr> 
    <tr> <td colspan="3">Points gained: CALL MICRO FX here</td> </tr>
    <tr> <td colspan="3"> Trivia: <%= quote %> </td> </tr>   <!-- //CALL MICRO FX here -->
  </table> <br>



  <form action="post" method="/payment">
    STRIPE SERVICE HERE
    <button type="submit"> confirm order! </button>
  </form>
  <br>
  <br>
  <a href="catalogue">go back</a>


differnece of MVC vs microservice
kinda the same. 1 split by logic,DB schema,views
other by biz function (hence DB schema in same file)

  <!-- let items = [item1,item2,item3] -->
  <!-- <a href="/  %= room %>">Join</a> -->
</body>
</html>